{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"src/vdesign/bev_store.cljk" ".cljc"
  "src/vdesign/cad.cljk" ".cljc"
  "src/vdesign/cartridge.cljk" ".cljc"
  "src/vdesign/cartridge_fcev.cljk" ".cljc"
  "src/vdesign/cartridge_geometry.cljk" ".cljc"
  "src/vdesign/cartridge_volume.cljk" ".cljc"
  "src/vdesign/datom.cljk" ".cljc"
  "src/vdesign/dc_bus.cljk" ".cljc"
  "src/vdesign/design.cljk" ".cljc"
  "src/vdesign/dutycycle.cljk" ".cljc"
  "src/vdesign/endurance.cljk" ".cljc"
  "src/vdesign/hydrogen.cljk" ".cljc"
  "src/vdesign/motionplan.cljk" ".cljc"
  "src/vdesign/physics.cljk" ".cljc"
  "src/vdesign/powertrain.cljk" ".cljc"
  "src/vdesign/process.cljk" ".cljc"
  "src/vdesign/proposer.cljk" ".cljc"
  "src/vdesign/reactor_heat.cljk" ".cljc"
  "src/vdesign/scene.cljk" ".cljc"
  "src/vdesign/sim.cljk" ".cljc"
  "src/vdesign/simphysics.cljk" ".cljc"
  "src/vdesign/simverify.cljk" ".cljc"
  "src/vdesign/swap_schedule.cljk" ".cljc"
  "src/vdesign/swap_station.cljk" ".cljc"
  "src/vdesign/vehicle.cljk" ".cljc"
  "test/vdesign/bev_store_test.cljk" ".cljc"
  "test/vdesign/cad_bridge_test.cljk" ".clj"
  "test/vdesign/cartridge_fcev_test.cljk" ".clj"
  "test/vdesign/cartridge_geometry_test.cljk" ".cljc"
  "test/vdesign/cartridge_test.cljk" ".cljc"
  "test/vdesign/cartridge_volume_test.cljk" ".cljc"
  "test/vdesign/closure_contract_test.cljk" ".clj"
  "test/vdesign/dc_bus_test.cljk" ".cljc"
  "test/vdesign/dutycycle_test.cljk" ".cljc"
  "test/vdesign/endurance_test.cljk" ".cljc"
  "test/vdesign/hydrogen_test.cljk" ".cljc"
  "test/vdesign/motionplan_test.cljk" ".cljc"
  "test/vdesign/powertrain_test.cljk" ".clj"
  "test/vdesign/process_test.cljk" ".clj"
  "test/vdesign/reactor_heat_test.cljk" ".cljc"
  "test/vdesign/scene_test.cljk" ".cljc"
  "test/vdesign/simphysics_test.cljk" ".cljc"
  "test/vdesign/swap_schedule_test.cljk" ".cljc"
  "test/vdesign/swap_station_test.cljk" ".cljc"
  "test/vdesign/vehicle_test.cljk" ".clj"}}
